.hero {
  background-color: transparent;
  background-image: linear-gradient(115deg, #442f90 0%, #220f68 100%);
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  padding: 0 20px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 600px;
}

.hero-left h1 {
  font-family: "Sora", sans-serif;

  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
}

.hero-left p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.hero-left button {
  height: 60px;
  width: 190px;
  border-radius: 10px;
  background-color: #533ea4;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 3px rgba(255, 255, 255, 0.151);
}

.hero-left button:hover {
  background-color: #503aab;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.hero-left button span {
  display: flex;
  align-items: center;
}

.hero-left button span img {
  margin-left: 10px;
  height: 14px;
  width: 17px;
}

.hero-right img {
  width: 500px;
  height: 500px;
  background-color: transparent;
}
