@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;700;900&family=Urbanist:wght@300;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
    background-color: #0FA3B1;
}

html {
    font-size: 62.5%;
}

.main-div {
    text-align: center;
    margin-top: 50px;
    padding: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

figure img {
    height: 200px;
    align-items: center;
}

figure figcaption {
    font-size: large;
    font-weight: 800;
    line-height: 1.4px;
    color: aliceblue;
}

.addItems {
    position: relative;
    width: fit-content;
}

.addItems input {
    background-color: aliceblue;
    width: 300px;
    height: 30px;
    border: none;
    padding: 0 10px; 
    border-radius: 4px;
}

.addItems img {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    height: 40px;
    width: 40px;
}

.showItems {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-top: 10px;
}

.showItems .eachItem {
    position: relative;
    width: fit-content;
    background-color: #8fd2d8;
    color: #333;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.showItems .eachItem h3 {
    background-color: transparent;
    margin: 0;
    font-size: 1.6rem; /* Adjust font size as needed */
}

.showItems .eachItem img {
    cursor: pointer;
    background-color: transparent;
    height: 20px;
    width: 18px;
}

.button {
    margin-top: 20px;
}

.button button {
    background: #E63462;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 15px;
}

.button button span {
    background-color: transparent;
    color: #FCFCFC;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}
