# Ignore specific directories and files
/PhoolNOOK/.git
PhoolNOOK
$Recycle.Bin/
Documents and Settings/
Intel/
PerfLogs/
Recovery/
System Volume Information/
Users/ACER/Application Data/
# Add more patterns as needed





