.cards {
    display: flex;
    gap: 1rem;
    padding: 3.5rem 4.5rem;
    overflow-x: auto;
}

.card-box {
    flex: 1;
    min-width: 200px; /* Adjust this value as needed */
    display: flex;
    align-items: center;
    padding: 1rem;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.card-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    background: linear-gradient(115deg, #220f68 0%, #442f90 100%);
    color: #f8f9fa;
}

.card-box:hover .card-right h3,
.card-box:hover .card-right p {
    color: white;
}

.card-left {
    flex-shrink: 0;
    margin-right: 1rem;
}

.card-left img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-right h3 {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 550;
    color: #343a40;
    transition: color 0.3s ease;
}

.card-right p {
    margin: 0.5rem 0 0;
    font-size: 0.9rem;
    color: #6c757d;
    transition: color 0.3s ease;
}
