<header>
    <div class="container">
        <nav>
            <ul>
                <li>
                    <a routerLink="/home" routerLinkActive = 'active'>Home</a>
                </li>
                <li>
                    <a routerLink="/login" routerLinkActive = 'active'>Login</a>
                </li>
                <li>
                    <a routerLink="/register" routerLinkActive = 'active'>Register</a>
                </li>
                <li>
                    <a routerLink="/product" routerLinkActive = 'active'>Product</a>
                </li>
                <!-- <li>
                    <a routerLink="/footer" routerLinkActive = 'active'>Footer</a>
                </li> -->
            </ul>
        </nav>
    </div>
</header>

